.button-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
button {
  border: 1px solid black;
  height: 30px;
  width: 120px;
  color: black;
  background-color: lightsalmon;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.container {
  height: 600px;
  width: 600px;
  border: 1px solid black;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
}

div.box:hover {
  background-color: black;
}
.painted {
  background-color: black;
}
